.nothing__main_content {
    align-items: center;
    background-color: $primary;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    p {
        text-align: center;
    }
}